Repository zbigniewsobiecki/dhalsim: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lint:
  run: bun run lint

typecheck:
  run: bun run typecheck

feat: add configurable timeoutMs for BrowseWeb subagent (#18)
  README.md
  src/subagents/dhalsim.ts
Due: lint, typecheck

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  b139c52f9a05fecd23858e523dc170d878591c83
Due: none

chore: sync dev with main after release [skip ci] (#19)
  CHANGELOG.md
  package.json
Due: lint

chore(deps): bump llmist to 10.0.0
  bun.lock
  package.json
Due: lint

chore(deps): bump llmist to 10.0.0 (#20)
  bun.lock
  package.json
Due: lint

feat: add disableCache option to reduce browser memory usage
  README.md
  src/session/manager.ts
  src/subagents/dhalsim.ts
Due: lint, typecheck

feat: add disableCache option to reduce browser memory usage (#22)
  README.md
  src/session/manager.ts
  src/subagents/dhalsim.ts
Due: lint, typecheck

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  cf3d959a8c0126027007a8cf6e6b2529c6ba3460
Due: none

feat: add navigationTimeoutMs and use domcontentloaded for faster loads
  README.md
  src/gadgets/navigation.ts
  src/session/manager.ts
  src/subagents/dhalsim.ts
Due: lint, typecheck

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  0c7258ef9cec652b8a7e7ed0c7dbc0677da3f2da
Due: none

fix(deps): bump llmist to ^11.1.0
  bun.lock
  package.json
Due: lint

chore(release): 1.6.1 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  898d83673585067ef9516827432cd0ce49a19102
Due: none

feat: make RequestUserAssistance optional with custom callback support
  src/gadgets/index.ts
  src/gadgets/user-input.ts
  src/index.ts
  src/subagents/dhalsim.ts
  src/subagents/index.ts
  src/subagents/prompts.ts
Due: lint, typecheck

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  2bac5f16f13fcf7713b8f121e89ae4ae2ab3c1cd
Due: none

feat!: migrate from bun-first to node-first
  .github/workflows/ci.yml
  .github/workflows/release.yml
  README.md
  bunfig.toml
  lefthook.yml
  package-lock.json
  package.json
  tsconfig.json
  tsup.config.ts
Due: lint, typecheck

fix(ci): add --legacy-peer-deps for npm install
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  515be1ad50e3dedd4afb298b92b0f752b783f126
Due: none

chore: sync dev with main after release [skip ci] (#28)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGELOG.md
  package.json
Due: lint

feat: lazy install camoufox browser on first use
  package.json
  src/session/manager.ts
Due: lint, typecheck

version bum to 2.0.1
  package.json
Due: lint

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  c9f0d086e2d7a513e2c7a3e78337e1b008c44737
Due: none

fix(deps): update camoufox-js to master with better-sqlite3 fix
  package.json
Due: lint

chore(release): 2.1.1 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  99cbb4917807c194fb4b532706686104314e1519
Due: none

fix(deps): pin camoufox-js to specific commit instead of master
  package.json
Due: lint

chore(release): 2.1.2 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  7f715026def8c7be37274a0ce7f94f17816ce817
Due: none

fix(deps): update camoufox-js to use better-sqlite3 ^12.0.0
  package.json
Due: lint

chore(release): 2.1.3 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  58a5053908e03afe2950327f727448e2ffde7caa
Due: none

ci(release): simplify release workflow with auto-triggered CI pattern
  .github/workflows/release.yml
Due: none

chore(release): 2.1.4 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  5aee518b0af56bfd36694a84dab5ce0070bbc60e
Due: none

Path conditions:
  lint: any of: *.{ts,tsx,js,jsx,json}
  typecheck: any of: *.{ts,tsx}
