Repository zbigniewsobiecki/dhalsim: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lint:
  run: bun run lint

typecheck:
  run: bun run typecheck

bump
  package.json
Due: lint

fix: remove raw gadget class exports to prevent broken instantiation
  src/index.ts
Due: lint, typecheck

chore(deps): bump llmist to ^5.1.0
  bun.lock
  package.json
Due: lint

fix: race condition and sequential bottleneck in PageStateScanner
  src/state/page-state.ts
Due: lint, typecheck

feat: add iteration tracking and parallel thinking prompt to BrowseWeb
  src/subagents/dhalsim.ts
Due: lint, typecheck

perf: auto-dismiss overlays to save first LLM call
  src/subagents/dhalsim.ts
  src/subagents/prompts.ts
Due: lint, typecheck

fix: closing browsers correctly
  src/session/manager.ts
Due: lint, typecheck

fix: add ReportResult gadget to capture BrowseWeb findings
  src/subagents/dhalsim.ts
  src/subagents/prompts.ts
Due: lint, typecheck

fixes
  src/session/manager.ts
  src/state/page-state.ts
Due: lint, typecheck

feat: add debug logging to gadgets and session manager
  src/gadgets/click.ts
  src/gadgets/content.ts
  src/gadgets/form.ts
  src/gadgets/keyboard.ts
  src/gadgets/navigation.ts
  src/gadgets/overlays.ts
  src/gadgets/page.ts
  src/gadgets/script.ts
  src/gadgets/scroll.ts
  src/gadgets/selection.ts
  src/gadgets/wait.ts
  src/session/manager.ts
Due: lint, typecheck

feat(cost): use ModelRegistry for accurate LLM cost estimation
  src/subagents/dhalsim.ts
Due: lint, typecheck

bump llmist 6.0.0
  bun.lock
  package.json
Due: lint

bump llmist to 6.1.0
  bun.lock
  package.json
Due: lint

feat: use getHostExports for proper llmist tree sharing
  src/subagents/dhalsim.ts
Due: lint, typecheck

feat: use getHostExports for proper llmist tree sharing (#2)
  src/subagents/dhalsim.ts
Due: lint, typecheck

chore: bump llmist to ^6.2.0 for hostExports support
  package.json
Due: lint

feat: auto-fetch page content on BrowseWeb startup
  src/subagents/dhalsim.ts
Due: lint, typecheck

test: add auto-fetch behavior tests for BrowseWeb
  src/subagents/dhalsim.test.ts
Due: lint, typecheck

feat: add debug logging to gadgets and session manager
  src/subagents/dhalsim.ts
Due: lint, typecheck

fix: use host logger and add browser launch timeout/retry
  src/session/manager.ts
  src/subagents/dhalsim.ts
Due: lint, typecheck

chore(deps): bump llmist to ^7.0.0
  bun.lock
  package.json
  src/session/manager.ts
  src/subagents/dhalsim.ts
Due: lint, typecheck

fix
  package.json
Due: lint

fix: lazy-load camoufox-js for Node.js compatibility
  src/session/manager.ts
Due: lint, typecheck

refactor: use utility functions from llmist core
  biome.json
  bun.lock
  package.json
  src/gadgets/click.ts
  src/gadgets/content.test.ts
  src/gadgets/content.ts
  src/gadgets/form.ts
  src/gadgets/interaction.test.ts
  src/gadgets/keyboard.ts
  src/gadgets/navigation.test.ts
  src/gadgets/navigation.ts
  src/gadgets/overlays.ts
  src/gadgets/page.test.ts
  src/gadgets/page.ts
  src/gadgets/script.test.ts
  src/gadgets/script.ts
  src/gadgets/scroll.ts
  src/gadgets/selection.ts
  src/gadgets/wait.test.ts
  src/gadgets/wait.ts
  src/stealth.ts
  src/utils/errors.ts
  src/utils/index.ts
Due: lint, typecheck

feat: add session manager injection and improve error logging
  src/gadgets/overlays.ts
  src/gadgets/page.ts
  src/index.ts
  src/session/index.ts
  src/session/manager.ts
  src/state/page-state.ts
  src/subagents/dhalsim.ts
  src/subagents/index.ts
  src/utils/element-checks.ts
Due: lint, typecheck

feat: prepare for public release with Node.js/Bun compatibility
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .releaserc.json
  README.md
  bun.lock
  commitlint.config.cjs
  dhalsim-icon.png
  package.json
  src/session/manager.ts
Due: lint, typecheck

fix(ci): install Playwright browsers before running tests
  .github/workflows/ci.yml
Due: none

test: skip CNN network test in CI environment
  src/subagents/dhalsim.test.ts
Due: lint, typecheck

fix: pin camoufox-js to commit with sqlite-compat fix
  bun.lock
  package.json
Due: lint

feat: use synthetic gadget calls for auto-executed actions
  src/subagents/dhalsim.ts
Due: lint, typecheck

fix(ci): add CI environment to Release workflow for secrets access
  .github/workflows/release.yml
Due: none

chore(deps): add semantic-release plugins
  bun.lock
  package.json
Due: lint

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  01eb600de9f25690d8a8445fe1544c0a362f5c49
Due: none

fix(ci): disable lefthook during npm publish in Release workflow
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  c2091a3ad5eeed0195a0adfe5f39350590fe694a
Due: none

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

fix(ci): skip lefthook install in CI environments
  package.json
Due: lint

chore(release): 1.0.2 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  a296ff3a9fdc327f862db0a0d87501f095c74402
Due: none

Path conditions:
  lint: any of: *.{ts,tsx,js,jsx,json}
  typecheck: any of: *.{ts,tsx}
