Repository zbigniewsobiecki/dhalsim: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lint:
  run: npm run lint

typecheck:
  run: npm run typecheck

chore(deps): bump llmist to 12.3.2 for observer merging fix (#42)
  package-lock.json
  package.json
Due: lint

fix(dhalsim): use TaskCompletionSignal for ReportResult gadget
  src/subagents/dhalsim.ts
Due: lint, typecheck

fix(dhalsim): use TaskCompletionSignal for ReportResult gadget (#43)
  src/subagents/dhalsim.ts
Due: lint, typecheck

Notes added by 'git notes add'
  bc4b94fbd719d2b1c092cb7ce825a0d93a701dd5
Due: none

chore(release): 2.3.1 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

chore(deps): bump llmist to 15.6.0
  package.json
Due: lint

chore(deps): update package-lock.json for llmist 15.6.0
  package-lock.json
Due: lint

chore(deps): bump llmist to 15.6.0 (#45)
  package-lock.json
  package.json
Due: lint

feat(dhalsim): add disableNavigation parameter to BrowseWeb
  src/subagents/dhalsim.test.ts
  src/subagents/dhalsim.ts
  src/subagents/prompts.ts
Due: lint, typecheck

fix(ci): install chromium-headless-shell for Playwright 1.57+
  .github/workflows/ci.yml
Due: none

fix(ci): use playwright-core to install matching browser version
  .github/workflows/ci.yml
Due: none

feat(dhalsim): add disableNavigation parameter to BrowseWeb (#52)
  .github/workflows/ci.yml
  src/subagents/dhalsim.test.ts
  src/subagents/dhalsim.ts
  src/subagents/prompts.ts
Due: lint, typecheck

chore(release): 2.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  462412a857291a5499c385c8878b6febade649c6
Due: none

Path conditions:
  lint: any of: *.{ts,tsx,js,jsx,json}
  typecheck: any of: *.{ts,tsx}
