Repository zbigniewsobiecki/dhalsim: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,jsx,json}"
      run: bun run lint
    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck
    # Tests removed from pre-commit - browser tests are slow and flaky
    # Run tests manually or in CI instead

feat(subagent): add human input capability for 2FA/CAPTCHA handling
  src/subagents/dhalsim.ts
  src/subagents/prompts.ts
Due: lint, typecheck

feat: add postinstall script to fetch Camoufox browser
  package.json
Due: lint

feat: add postinstall script to fetch Camoufox browser (#3)
  package.json
Due: lint

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  1a8bc259d79c7b179c1c81e36612d828a3be1ca4
Due: none

chore(deps): bump llmist requirement to >=9.4.0
  bun.lock
  package.json
Due: lint

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  df920c42753b60a4b1e9f5af417668b58738fe50
Due: none

fix(ci): fail release workflow on dev branch sync failure
  .github/workflows/release.yml
Due: none

fix(ci): fail release workflow on dev branch sync failure (#5)
  .github/workflows/release.yml
Due: none

feat: add GitHub ruleset templates for branch protection
  .github/rulesets/protect-dev.json
  .github/rulesets/protect-main.json
Due: lint

feat: add GitHub ruleset templates for branch protection (#6)
  .github/rulesets/protect-dev.json
  .github/rulesets/protect-main.json
Due: lint

feat: export VERSION constant
  src/index.ts
Due: lint, typecheck

feat: export VERSION constant (#7)
  src/index.ts
Due: lint, typecheck

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  94fad0c9dec1c5c56ae19a9bde2e734cf648a996
Due: none

fix(ci): sync dev via PR instead of direct push
  .github/rulesets/protect-dev.json
  .github/workflows/release.yml
Due: lint

fix(ci): sync dev via PR instead of direct push (#8)
  .github/rulesets/protect-dev.json
  .github/workflows/release.yml
Due: lint

fix: use npx for camoufox-js postinstall
  package.json
Due: lint

fix: use npx for camoufox-js postinstall (#9)
  package.json
Due: lint

Notes added by 'git notes add'
  66d86aa90d265bd3cf5fd971cac40bc46e39ebfd
Due: none

chore(release): 1.3.1 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

chore(release): 1.3.1 [skip ci] (#10)
  CHANGELOG.md
  package.json
Due: lint

fix(deps): add playwright-core as direct dependency
  bun.lock
  package.json
Due: lint

Notes added by 'git notes add'
  ea0964e5030aa88926754fa4cd10afe1ba24fcd7
Due: none

chore(release): 1.3.2 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

fix(deps): remove sharp and better-sqlite3 native dependencies
  package.json
  src/gadgets/content.ts
Due: lint, typecheck

fix(deps): remove sharp and better-sqlite3 native dependencies (#12)
  package.json
  src/gadgets/content.ts
Due: lint, typecheck

chore(release): 1.3.3 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  e34fdc55cf047e68a7327429da1f0e1fccb8ce97
Due: none

fix(deps): update camoufox-js with memory-efficient extraction
  bun.lock
  package.json
Due: lint

fix(deps): update camoufox-js with memory-efficient extraction (#14)
  bun.lock
  package.json
Due: lint

chore(release): 1.3.4 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  3215ca4f3623dc16eecd11437f53b4d0c50488a9
Due: none

fix(deps): update camoufox-js to ignore unzip unicode warnings
  package.json
Due: lint

fix(deps): update camoufox-js to ignore unzip unicode warnings (#16)
  CHANGELOG.md
  package.json
Due: lint

chore(release): 1.3.5 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  33bec3f9be77b7290548f9cfe3981ae62c03b6b9
Due: none

chore: sync dev with main after release [skip ci] (#17)
  CHANGELOG.md
  package.json
Due: lint

feat: add configurable timeoutMs for BrowseWeb subagent
  README.md
  src/subagents/dhalsim.ts
Due: lint, typecheck
